<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270783624818-drrstuqnp5b3thrvn689aaegrk6pth0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270783624818-drrstuqnp5b3thrvn689aaegrk6pth0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAvYgLc9lO8dGkBDEvOjA2YY9_4QPQ0sSY</string>
	<key>GCM_SENDER_ID</key>
	<string>270783624818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamMiracle.AllReview</string>
	<key>PROJECT_ID</key>
	<string>teammiraclephotoserver</string>
	<key>STORAGE_BUCKET</key>
	<string>teammiraclephotoserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270783624818:ios:56ba90e93c55cffd9774eb</string>
	<key>DATABASE_URL</key>
	<string>https://teammiraclephotoserver.firebaseio.com</string>
</dict>
</plist>